/* Palette colori analizzata con Figma
*********/

:root{
  --bodycolor : rgb(255, 255, 255);
  --MContainer : rgba(255, 255, 255.0,1);
  --SContainer : #00875A;
  --HeartsColor : black;
  --SquareHeartsColor : rgb(255, 255, 255);
  --SalesColor : #EB0037;
  --Sostenibility-Color : #00875A;
 }
 
 /* Classi di utilities */

 /* Regola di Reset del Body */

 * {
   padding: 0;
   margin: 0;
 }
 
 /* Colore principale del Body
 ***********/

 body {
   background-color: var(--bodycolor);
   text-align:center;
 }


 /* MContainer = Main Container
 tocca solo la Width quando serve
 ***********/

 .MContainer {
   Position:relative;
   border-radius:30px;
   padding-bottom: 20px;
   width:max-content;
   height:max-content;
   background-color: var(--MContainer);
   margin: auto;
   margin-top:15px;
   margin-bottom:15px;
 }

 /* Container Principale del Main   
*******************/
 
.D2Container .DContainer,img {
  width: 350px;
  height: 500px;
}

.DContainer {
  position:relative;
  width:max-content;
  height:max-content;
  margin-top:20px;
  margin-bottom:20px;
  padding:10px;
  border-radius:10px;
  background-color: var(--DContainer);
}

.D2Container {
  position:relative;
  width:max-content;
  height:max-content;
  margin-top:5px;
  margin-bottom:20px;
  padding:10px;
  border-radius:10px;
  background-color: var(--DContainer);
}

/* Container Della Section 
*******************/

.SContainer{
display:inline-block;
justify-content: center;
text-align:center;
width:max-content;
height:max-content;
Position: relative;
margin:3px;
background-color: var(--SContainer)
}

/* Classe dei Like */

.SquareH {
  position: absolute;
  width:25px;
  height:25px;
  top: 35px;
  right:0px;
  background-color: var(--SquareHeartsColor);
}
.Heart {
 position: absolute;
 padding: 10px;
 margin: 0 auto;
 font-size: 24px;
 justify-content: center;
 vertical-align: middle;
 color: var(--HeartsColor);
}
