/* Palette colori analizzata con Figma
*********/

:root{
  --bodycolor : rgb(255, 255, 255);
  --MContainer : rgba(255, 255, 255.0,1);
  --SContainer : rgb(255, 255, 255);
  --HeartsColor : black;
  --SquareHeartsColor : rgb(255, 255, 255);
  --SalesColor : #EB0037;
  --Sostenibility-Color : #00875A;
  --WriteColor : rgb(255, 255, 255);
 }
 
 /* Classi di utilities */

 /* Immagine nascosta
 ******/

 .Himg {
  display:inline-block;
  justify-content: center;
  text-align:center;
  Position: relative;
  margin-top: 10px;
  margin:3px;
  text-align: center;
  visibility: hidden;
 }

 .SContainer:hover .Himg {
  visibility: visible;
}

 /* Regola di Reset del Body */

 * {
   padding: 0;
   margin: 0;
 }
 
 /* Colore principale del Body
 ***********/

 body {
   background-color: var(--bodycolor);
   text-align:center;
 }

 /* MContainer = Main Container
 tocca solo la Width quando serve
 ***********/

 .MContainer {
   Position:relative;
   border-radius:30px;
   padding-bottom: 30px;
   width:max-content;
   height:max-content;
   background-color: var(--MContainer);
   margin: auto;
   margin-top:25px;
   margin-bottom:25px;
 }

 /* Container Principale del Main   
*******************/
 
.D2Container .DContainer,img {
  width: 350px;
  height: 500px;
}

.DContainer {
  position:relative;
  width:max-content;
  height:max-content;
  margin-top:20px;
  margin-bottom:20px;
  padding-bottom: 15px;
  padding:10px;
  border-radius:10px;
  background-color: var(--DContainer);
}

.D2Container {
  position:relative;
  width:max-content;
  height:max-content;
  margin-top:30px;
  margin-bottom:20px;
  padding:10px;
  border-radius:10px;
  background-color: var(--DContainer);
}

/* Container Della Section 
*******************/

.SContainer{
display:inline-block;
justify-content: center;
text-align:center;
width:max-content;
height:max-content;
Position: relative;
margin-top: 10px;
margin:3px;
background-color: var(--SContainer)
}

/* Price Container 
*********/

.PContainer {
  position:absolute;
  display:inline-block;
  text-align:left;
  padding-top: 5px;
  width:350px;
  height: max-content;
  top:500px;
  left:0;
  background-color: #ffffff;
  }

/* Classi delle marche e Stili e Prezzi associati */  

.Litte {
  font-weight: 100;
  font-size: 10px;
  text-align: left;
}

.Medium {
  text-transform: uppercase;
  font-size: larger ;
}

.Price {
  font-size: 16px;
  color: var(--SalesColor);
  text-align: left;
}

/* Classe dei Like */

.SquareH {
  position: absolute;
  width:25px;
  height:25px;
  top: 25px;
  right:0px;
  background-color: var(--SquareHeartsColor);
}

.Heart {
 position: absolute;
 padding: 10px;
 margin: 0 auto;
 font-size: 24px;
 justify-content: center;
 vertical-align: middle;
 color: var(--HeartsColor);
}

/* Classe degli Sconti e della sostenibilità */
/* La prima sales per i riguardi con padding
la seconda per la scritta scontata senza background */

.Sales {
  position: absolute;
  display: inline-block;
  padding: 5px 7px 5px 7px;
  background-color: var(--SalesColor);
  color: var(--WriteColor);
  bottom: 20px;
  left:0px;
}

/* Classe della Sostenibilità */

.Sostenibility {
  position: absolute;
  display: inline-block;
  padding: 5px 7px 5px 7px;
  background-color:var(--Sostenibility-Color);
  color: var(--WriteColor);
  bottom: 20px;
  left:55px;
}

.Soste2 {
  position: absolute;
  display: inline-block;
  padding: 5px 7px 5px 7px;
  background-color:var(--Sostenibility-Color);
  color: var(--WriteColor);
  bottom: 20px;
  left:0px;
}

/* Classe Comune tra Sostenibilià e Sconti */
.Sales.Sostenibility.Soste2 {
  font-weight: 400;
  font-size: medium;
}


